# Chaper3. 판다스 데이터프레임과 시리즈

## 03-1. 나만의 데이터 만들기

In [1]:
## 1. 시리즈 만들기 : 시리즈를 만들기 위해서는 리스트를 전달

import pandas as pd

s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [4]:
## 2. 문자열을 인덱스로 지정하기

s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [5]:
### 3. 데이터프레임 만들기 : 딕셔너리를 전달

scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [6]:
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'], # 인덱스 변경하기
    columns=['Occupation', 'Born', 'Age', 'Died'])  # 열 순서 변경하기
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

## 03-2. 시리즈 다루기 - 기초

In [7]:
first_row = scientists.loc['William Gosset'] 
print(type(first_row))

print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

In [16]:
## 시리즈 속성과 메서드 사용하기 - index, values, keys


print(first_row.index)
print(first_row.values) #values속성에는 시리즈의 데이터가 저장되어 있다.
print(first_row.keys()) #key는 속성이 아니라 메서드. index속성과 같은 역할

print(first_row.index[0])
print(first_row.keys()[0])

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
['Statistician' '1876-06-13' 61 '1937-10-16']
Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
Occupation
Occupation

In [20]:
## 시리즈의 기초 통계 메서드 사용하기 - mean, min, max, std

ages = scientists['Age']
print(ages)

print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714

## 03-3. 시리즈 다루기 - 응용

### 시리즈와 불린 추출
 불린 추출 : 특정 조건을 만족하는 값만 추출한다.

In [23]:
scientists = pd.read_csv('./data/scientists.csv')

ages = scientists['Age']

In [26]:
# 평균보다 나이가 많은 사람만 추출

print(ages[ages > ages.mean()]) # ages > ages.mean() 은 조건이 참인지 거짓인지 나타내는 리스트를 생성한다. 따라서 참인 인덱스만 출력

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

### 시리즈와 브로드캐스팅
브로드캐스팅 : 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것

#### 1. 길이가 서로 다른 벡터를 연산할 경우 : 시리즈와 시리즈를 연산하면 같은 인덱스 값만 계산한다.
#### 2. sort_index메서드로 인덱스 순서를 바꿔도 값이 같은 것 끼리 계산한다.

## 03-4. 데이터프레임 다루기

In [27]:
## 1.데이터프레임의 Age 열에서 Age 열의 평균보다 높은 행만 출력

print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [28]:
## 2. bool벡터의 길이가 데이터프레임의 행길이보다 짧으면 bool벡터의 길이만큼 연산

print(scientists.loc[[True, False, True, True]])

                   Name        Born        Died  Age Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37    Chemist
2  Florence Nightingale  1820-05-12  1910-08-13   90      Nurse
3           Marie Curie  1867-11-07  1934-07-04   66    Chemist

In [29]:
## 3. 브로드캐스팅하기

print(scientists * 2) # 정수 열은 값이 두배, 문자열은 문자가 2회 반복된다.

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

## 03-5. 시리즈와 데이터프레임의 데이터 처리하기

In [30]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [32]:
## 문자열로 저장된 날짜를 datetime자료형으로 변경하기

born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [34]:
## 데이터프레임에 새로운 열 추가하기

scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [35]:
scientists['age_days_df'] = (scientists['died_dt']-scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_df
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [40]:
## 시리즈, 데이터프레임 데이터 섞기

print(scientists['Age'])

import random

random.seed(42) # 컴퓨터가 생성하는 난수의 기준값을 정하기 위해 사용한다.
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

C:\ProgramData\Anaconda3\lib\random.py:275: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  x[i], x[j] = x[j], x[i]

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

In [45]:
## 데이터프레임의 열 삭제하기

print(scientists.columns)

scientists_dropped = scientists.drop(['Age'], axis=1) # 첫 번째 인자에 드랍할 열 이름, 두 번째 인자에 axis=1
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_df'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_df'],
      dtype='object')

## 03-6. 데이터 저장하고 불러오기

In [46]:
scientists.to_csv('./scientists_df.tsv', sep='\t')