# Chapter2. 판다스 시작하기

## 02-1. 데이터 집합 불러오기

In [1]:
import pandas as pd
df = pd.read_csv('./data/gapminder.tsv', sep='\t')

In [5]:
print(df.head()) #head메서드 : 가장 앞에 있는 5개의 행 출력

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
print(type(df)) #type메서드 : 자료형 출력 (파이썬 내장 메서드)

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(df.shape) #shape는 메서드가 아니라 속성값
print(df.columns) #columns도 속성값. 열 이름을 확인할 수 있다.

(1704, 6)
Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [8]:
print(df.dtypes)
print(df.info())

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

## 02-2. 데이터 추출하기

In [12]:
## 열 단위 데이터 추출하기

country_df = df['country']
print(type(country_df)) #1개의 열만 추출하면 시리즈

print(country_df.head())

print(country_df.tail())

<class 'pandas.core.series.Series'>
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [16]:
subset = df[['country', 'continent', 'year']]
print(type(subset))

print(subset.head())
print(subset.tail())

<class 'pandas.core.frame.DataFrame'>
       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

### 행 단위 데이터 추출하기

#### loc : 인덱스를 기준으로 행 데이터 추출 (인덱스는 데이터프레임에서 확인 가능, 변할 수 있다.)
#### iloc : 행 번호를 기준으로 행 데이터 추출 (행 번호는 실제 데이터프레임에서 확인 불가)

In [18]:
print(df.loc[0])
print(df.loc[99])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object
country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [24]:
# 마지막 행을 추출하려면 마지막 인덱스를 알아야한다.

print(df.shape) #1704*6
print(df.loc[1703]) #0부터 시작이므로 1704-1

print(df.tail(n=1))

(1704, 6)
country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object
       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [26]:
print(df.loc[[0,99,999]]) # 원하는 데이터를 한 번에 추출하려면 리스트에 인덱스를 담아 loc속성에 전달

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [28]:
## iloc 속성으로 행 데이터 추출하기

print(df.iloc[-1]) # 행 번호는 -1 사용 가능 (마지막 행을 보여줌)
print(df.iloc[[1,9,-2]])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object
          country continent  year  lifeExp       pop   gdpPercap
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
9     Afghanistan      Asia  1997   41.763  22227415  635.341351
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623

### loc, iloc 속성 자유자재로 사용하기
#### df.loc[[행],[열]]
#### df.iloc[[행],[열]]

In [30]:
## 1.슬라이싱 구문으로 데이터 추출하기

subset = df.loc[:, ['year','pop']] # : 는 모든 행을 뜻한다.
print(subset.head())

subset = df.iloc[:, [2,4,-1]]
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460
   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

In [31]:
## 2. range 메서드로 데이터 추출하기

small_range = list(range(0, 6, 2)) # range(0,6,2) : 0부터 6까지 2씩 뛰는 제너레이터 생성 => list로 바꿔줌
subset = df.iloc[:, small_range]
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [34]:
## 3. 슬라이싱 구문과 range 메서드 비교하기

subset = df.iloc[:, 0:6:2]
print(subset.head())

small_range = list(range(0,3))
subset = df.iloc[:, small_range]
print(subset.head())

subset = df.iloc[:, :3]
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460
       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [37]:
## 실습

print(df.iloc[[0,99,999],[0,3,5]].head())

print(df.loc[10:14, ['country', 'lifeExp', 'gdpPercap']])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130
        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244
14      Albania   64.820  2312.888958

## 02-3. 기초적인 통계 계산하기

In [38]:
print(df.head(n=10))

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

### 그룹화된 데이터의 평균 구하기

In [41]:
## lifeExp 열을 연도별로 그룹화하여 평균 계산하기

# 연도별로 그룹화한 country, continent, ..., gdpPercap 열을 모은 데이터 프레임을 얻을 수 있다.
grouped_year_df = df.groupby('year')
print(type(grouped_year_df))
print(grouped_year_df)

<class 'pandas.core.groupby.groupby.DataFrameGroupBy'>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001B5B3AC5EF0>

In [42]:
grouped_year_df_lifeExp = grouped_year_df['lifeExp']
print(type(grouped_year_df_lifeExp)) # 연도 별로 그룹화 한 데이터 프레임에서, lifeExp 열을 추출하면 연도 별로 그룹화한 lifeExp를 구할 수 있다.

<class 'pandas.core.groupby.groupby.SeriesGroupBy'>

In [43]:
mean_lifeExp_by_year = grouped_year_df_lifeExp.mean()
print(mean_lifeExp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [45]:
## 실습

df_mean = df.groupby(['year', 'continent'])['lifeExp','gdpPercap'].mean()
print(df_mean)

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275